body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: #c1ddd8;
}

.album-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.album-cover {
    width: 100%;
    height: auto;
    border: 3px solid #000000;
    margin-bottom: 10px;
}

#album3, #album4 {
    background-color: #c1ddd8;
    padding: 10px;
    border-radius: 5px;
}

#album2, #album6 {
    background-color: #fff3c4;
    padding: 10px;
    border-radius: 5px;
}

#album1, #album5 {
    background-color: #ede1db;
    padding: 10px;
    border-radius: 5px;
}

.albums-section {
    padding: 20px;
}

.footer-section {
    margin-top: 20px;
    padding: 10px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.albums > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.github {
    text-decoration: none;
    color: #c1ddd8;
}

.github:hover {
    color: #0056b3;
}

footer {
    margin-top: 20px;
    padding: 10px;
    color: white;
    text-align: center;
}

.album-cover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .albums {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .albums {
        grid-template-columns: repeat(3, 1fr);
    }
}
